@model VAVS_Client.Models.VehicleStandardValue

@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Details";
}

<div id="spinner-container">
    <img id="spinner" decoding="async" src="~/image/loading/spinner.gif" asp-append-version="true" />
</div>

<div class="d-flex justify-content-center align-item-center mb-3">
    <label class="text-primary h4"> မော်တော်ယာဥ်အချက်အလက်</label>
</div>

@if (TempData.ContainsKey("Message") && TempData.ContainsKey("CssColor"))
{
    <div class="alert @TempData["CssColor"]"> @TempData["Message"] </div>
}
<div style="background-color: #0f3cbd;" class="row ">
    <div class="d-flex justify-content-center align-item-center p-1">
        <label class="text-white"> အသေးစိတ် </label>
    </div>
</div>

<form method="post" action="@Url.Action("ShowCalculateTaxForm", "TaxCalculation")">
    <div class="row mt-1 " style="border-radius: 20px;">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row p-2" style="background-color: #c0c0c052;">
                <div class="row">
                    <div class="col-lg-5 col-md-3 col-sm-3 col-5">
                        <label class="fw-bold control-label" data-translate="VehicleDetail_CarManufacturer">Car Manufacturer</label>
                    </div>
                    <div class="col-7">
                        <input type="text" asp-for="Manufacturer" value="@Model.Manufacturer" readonly="" style="background-color: inherit;border: none;">
                    </div>
                </div>
            </div>

            <div class="row p-2">
                <div class="row">
                    <div class="col-lg-5 col-md-3 col-sm-3 col-5">
                        <label class="fw-bold control-label" data-translate="VehicleDetail_VehicleBrand">Car Brand</label>
                    </div>
                    <div class="col-7">
                        <input type="text" asp-for="VehicleBrand" value="@Model.VehicleBrand" readonly="" style="background-color: inherit;border: none;">
                    </div>
                </div>
            </div>

            <div class="row p-2" style="background-color: #c0c0c052;">
                <div class="row">
                    <div class="col-lg-5 col-md-3 col-sm-3 col-5">
                        <label class="fw-bold control-label" data-translate="VehicleDetail_BuildType"></label>
                    </div>
                    <div class="col-7">
                        <input type="text" asp-for="BuildType" value="@Model.BuildType" readonly="" style="background-color: inherit;border: none;">
                    </div>
                </div>
            </div>
            <div class="row p-2">
                <div class="row">
                    <div class="col-lg-5 col-md-3 col-sm-3 col-5">
                        <label class="fw-bold control-label" data-translate="VehicleDetail_EnginePower"></label>
                    </div>
                    <div class="col-7">
                        <input type="text" asp-for="EnginePower" value="@Model.EnginePower" readonly="" style="background-color: inherit;border: none;">
                    </div>
                </div>
            </div>
            <div class="row p-2" style="background-color: #c0c0c052;">
                <div class="row">
                    <div class="col-lg-5 col-md-3 col-sm-3 col-5">
                        <label class="fw-bold control-label" data-translate="VehicleDetail_ModelYear"></label>
                    </div>
                    <div class="col-7">
                        <input type="text" asp-for="ModelYear" value="@Model.ModelYear" readonly="" style="background-color: inherit;border: none;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row p-2">
                    <div class="row">
                        <div class="col-lg-5 col-md-3 col-sm-3 col-5">
                            <label class="fw-bold control-label" data-translate="VehicleDetail_FuelType"></label>
                        </div>
                        <div class="col-7">
                            <input type="text" asp-for="Fuel.FuelType" value="@Model.Fuel.FuelType" readonly="" style="background-color: inherit;border: none;">
                        </div>
                    </div>
                </div>

            @if(!string.IsNullOrEmpty(Model.Grade))
            {
                <div class="row p-2" style="background-color: #c0c0c052;">
                    <div class="row">
                        <div class="col-lg-5 col-md-3 col-sm-3 col-5">
                            <label class="fw-bold control-label" data-translate="VehicleDetail_Grade">Grade</label>
                        </div>
                        <div class="col-7">
                            <input type="text" asp-for="Grade" value="@Model.Grade" readonly="" style="background-color: inherit;border: none;">
                        </div>
                    </div>
                </div>
            }
            @if (Model.VehicleNumber != null)
            {
                <div class="row p-2" style="background-color: #c0c0c052;">
                    <div class="row">
                        <div class="col-lg-5 col-md-3 col-sm-3 col-5">
                            <label class="fw-bold control-label" data-translate="VehicleDetail_VehicleNumber"></label>
                        </div>
                        <div class="col-7">
                            <input type="text" asp-for="VehicleNumber" value="@Model.VehicleNumber" readonly="" style="background-color: inherit;border: none;">
                        </div>
                    </div>
                </div>
            }
            @if (ViewBag.ChessisNumber != null)
            {
                <div class="row p-2">
                    <div class="row">
                        <div class="col-lg-5 col-md-3 col-sm-3 col-5">
                            <label class="fw-bold control-label">Chessis Number</label>
                        </div>
                        <div class="col-7">
                            <input type="text" asp-for="ChessisNumber" value="@ViewBag.ChessisNumber" readonly="" style="background-color: inherit;border: none;">
                        </div>
                    </div>
                </div>
            }
            <div class="row p-2" style="background-color: #c0c0c052;">
                <div class="row">
                    <div class="col-lg-5 col-md-3 col-sm-3 col-5">
                        <label class="fw-bold control-label" data-translate="VehicleDetail_StandardValue"></label>
                    </div>
                    <div class="col-7">
                        <input type="text" asp-for="StandardValue" value="@(Model.StandardValue == "NULL" || Model.StandardValue == "0" ? "0" : string.Concat(Model.StandardValue, "00000"))" readonly="" style="background-color: inherit;border: none;">
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="d-flex justify-content-center align-item-center mt-2">
        <button class="btn btn-outline-primary" type="submit" style="border-radius: 50px;">Calculate Tax</button>
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
