@model VAVS_Client.Models.VehicleStandardValue

@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Details";
}

<div id="spinner-container">
    <img id="spinner" decoding="async" src="~/image/loading/spinner.gif" asp-append-version="true" />
</div>

@if (TempData.ContainsKey("Message") && TempData.ContainsKey("CssColor"))
{
    <div class="alert @TempData["CssColor"]"> @TempData["Message"] </div>
}

<form method="post" action="@Url.Action("ShowCalculateTaxForm", "TaxCalculation")">
    <div class="d-flex justify-content-center align-item-center">
        <div class="card col-md-6">
            <div class="card-header">
                <div class="row">
                    <div class="d-flex justify-content-center align-item-center">
                        <label class="control-label opacity-50" data-translate="VehicleDetail_ModelYear"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center">
                        <input class="fw-bold text-center" type="text" asp-for="ModelYear" value="@Model.ModelYear" readonly="" style="background-color: inherit;border: none; font-size:24px; cursor:not-allowed;">
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex justify-content-center align-item-center">
                        <label class="control-label opacity-50" data-translate="VehicleDetail_CarManufacturer">Car Manufacturer</label>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center">
                        <input class="fw-bold text-center" type="text" asp-for="Manufacturer" value="@Model.Manufacturer" readonly="" style="background-color: inherit;border: none; font-size:24px; cursor:not-allowed;">
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex justify-content-center align-item-center">
                        <label class="control-label opacity-50" data-translate="VehicleDetail_StandardValue"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center">
                        <input class="fw-bold text-center text-danger" type="text" asp-for="StandardValue" value="@(Model.StandardValue == "NULL" || Model.StandardValue == "0" ? "0" : string.Concat(Model.StandardValue, "00000"))" readonly="" style="background-color: inherit;border: none; font-size:24px; cursor:not-allowed;">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    @if (Model.VehicleNumber != null)
                    {
                        <li class="list-group-item">
                            <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-6 col-6">
                                        <label class="fw-bold control-label" data-translate="VehicleDetail_VehicleNumber"></label>
                                    </div>
                                    <div class="col-6">
                                        <div class="text-end">
                                            <input type="text" asp-for="VehicleNumber" value="@Model.VehicleNumber" readonly="" style="background-color: inherit;border: none; cursor:not-allowed;">
                                        </div>
                                    </div>
                            </div>
                        </li>
                    }
                    @if (Model.ChessisNumber != null)
                    {
                        <li class="list-group-item">
                            <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-6 col-6">
                                        <label class="fw-bold control-label">Chessis Number</label>
                                    </div>
                                    <div class="col-6">
                                        <div class="text-end">
                                            <input type="text" asp-for="ChessisNumber" value="@Model.ChessisNumber" readonly="" style="background-color: inherit;border: none; cursor:not-allowed;">
                                        </div>
                                    </div>
                            </div>
                        </li>
                    }
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-6">
                                <label class="fw-bold control-label" data-translate="VehicleDetail_VehicleBrand">Car Brand</label>
                            </div>
                            <div class="col-6">
                                <div class="text-end">
                                    <input type="text" asp-for="VehicleBrand" value="@Model.VehicleBrand" readonly="" style="background-color: inherit;border: none; cursor:not-allowed;">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-6">

                                <label class="fw-bold control-label" data-translate="VehicleDetail_BuildType"></label>
                            </div>
                            <div class="col-6">
                                <div class="text-end">
                                    <input type="text" asp-for="BuildType" value="@Model.BuildType" readonly="" style="background-color: inherit;border: none; cursor:not-allowed;">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-6">
                                <label class="fw-bold control-label" data-translate="VehicleDetail_EnginePower"></label>
                            </div>
                            <div class="col-6">
                                <div class="text-end">
                                    <input type="text" asp-for="EnginePower" value="@Model.EnginePower" readonly="" style="background-color: inherit;border: none; cursor:not-allowed;">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="card-footer text-muted">
                <div class="d-flex justify-content-center align-item-center mt-2">
                    <button class="btn btn-primary" type="submit" style="border-radius: 50px;">Calculate Tax</button>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
