@model VAVS_Client.Paging.PagingList<VAVS_Client.Models.VehicleStandardValue>

@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Search Vehicle";
}
<div class="d-flex justify-content-center align-item-center mb-3">
    <label class="text-primary h4" data-translate="Vehicle_TitleForSearch"> မော်တော်ယာဥ်ရှာရန်</label>
</div>
@if (TempData.ContainsKey("Message") && TempData.ContainsKey("CssColor"))
{
    <div class="alert @TempData["CssColor"] alert-msg"> @TempData["Message"] </div>
}


<div class="row search-container mb-3">
    <div class="col">
        <form class="input-group" method="get" action="@Url.Action("SearchVehicleStandardValue", "VehicleStandardValue")">
            <div class="input-group">
                <input type="text" name="SearchString" class="form-control" placeholder="Enter Vehicle Number to Search" style="border-top-left-radius: 25px; border-bottom-left-radius: 25px">
                <button class="btn btn-outline-secondary" type="submit" data-translate="Vehicle_SearchBtn" style="border-top-right-radius: 20px;border-bottom-right-radius: 20px;">Search</button>
            </div>
        </form>
    </div>
    <div class="col make-model-desktop-view">
        <button class="btn btn-outline-primary"  data-bs-toggle="modal" data-bs-target="#searchModelType">
            <label class="mb-1" style="font-size: clamp(11px, 2vw, 15px);">စံနှုန်းဖြင့်စည်းကြပ်မှုခံယူရန်</label>
        </button>
    </div>
    
</div>

<div class="d-flex justify-content-center align-item-center py-2" style="background-color: #0f3cbd">
    @if (!string.IsNullOrEmpty(ViewBag.SearchString))
    {
        <label class="text-white" data-translate="Vehicle_SubTitleForSearchReult"> ရှာ‌ဖွေမှုရလဒ်များ </label>
    }
    else
    {
        <label class="text-white" data-translate="Vehicle_SubTitleForEmptySearchReult"> ယာဥ်နံပါတ်ဖြင့်ရှာဖွေပါ </label>
    }
</div>

@* <div style="background-color: #3c90c3ed;" class="row mt-3 border border-dark">

</div> *@

@if (Model != null && Model.Any())
{
    @foreach (var item in Model)
    {
        <div class="row mt-1 border border-dark rounded shadow-lg p-2 mb-2 bg-body">
            <div class="col-lg-6 col-md-6 col-sm-12" style="background-color:white">
                <div class="row p-2">
                    <label class="fw-bold col-lg-6 col-md-6 col-sm-4 control-label" data-translate="VehicleDetail_CarManufacturer">Manufacturer</label>
                    <div class="col-lg-6 col-md-6 col-sm-8">
                        @Html.DisplayFor(modelItem => item.Manufacturer)
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12" style="background-color:white">
                <div class="row p-2">
                    <label class="fw-bold col-lg-6 col-md-6 col-sm-4 control-label" data-translate="VehicleDetail_ModelYear">Model Year</label>
                    <div class="col-lg-6 col-md-6 col-sm-8">
                        @Html.DisplayFor(modelItem => item.ModelYear)
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12" style="background-color:white">
                <div class="row p-2">
                    <label class="fw-bold col-lg-6 col-md-6 col-sm-4 control-label" data-translate="VehicleDetail_VehicleBrand">Brand Name</label>
                    <div class="col-lg-6 col-md-6 col-sm-8">
                        @Html.DisplayFor(modelItem => item.VehicleBrand)
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row p-2">
                    <label class="fw-bold col-lg-6 col-md-6 col-sm-4 control-label" data-translate="VehicleDetail_EnginePower">Engine Power</label>
                    <div class="col-lg-6 col-md-6 col-sm-8">
                        @Html.DisplayFor(modelItem => item.EnginePower)
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center mt-2 mb-1">
                <a class="btn btn-primary rounded-pill" asp-controller="VehicleStandardValue" asp-action="Details" asp-route-pkId="@item.VehicleStandardValuePkid" asp-route-madeModel="@item.Manufacturer" asp-route-modelYear="@item.ModelYear">အသေးစိတ်</a>
            </div>
        </div>
    }

    <br />

    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    var totalPageNo = Model.TotalPageNo;
    var currentPageNo = Model.PageIndex;
    var searchString = ViewBag.SearchString ?? null;

    <a asp-action="GetVehicleValueByModelAndYear"
       asp-route-pageNo="@(Model.PageIndex - 1)"
       asp-route-MadeModel=@ViewBag.MadeModel
       asp-route-makeModelYear=@ViewBag.MadeYear
       asp-route-SearchString="@searchString"
       class="link btn btn-primary btn-sm @prevDisabled">
        Previous
    </a>
    <a asp-action="GetVehicleValueByModelAndYear"
       asp-route-pageNo="@(Model.PageIndex + 1)"
       asp-route-MadeModel=@ViewBag.MadeModel
       asp-route-makeModelYear=@ViewBag.MadeYear
       asp-route-SearchString="@searchString"
       class="link btn btn-primary btn-sm @nextDisabled">
        Next
    </a>
    <span>
        Page No : @currentPageNo of @totalPageNo
    </span>
}
else
{
        @if (!string.IsNullOrEmpty(ViewBag.SearchString))
        {
            <div class="d-flex align-items-center justify-content-center mt-2">
                <span class="text-danger" style="font-size: 20px; font-weight: bold; opacity: 0.5;">ရှာဖွေမှုရလာဒ်များမတွေ့ရှိပါ</span>
            </div>
        }
        <div class="align-items-center justify-content-center mt-2 make-model-mobile-view">
            <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#searchModelType">
                <label class="mb-1" style="font-size: clamp(14px, 2vw, 15px);">စံနှုန်းဖြင့်စည်းကြပ်မှုခံယူရန်</label>
            </button>
        </div>
}

<!-- Search model-->
<div class="modal fade" id="search" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content rounded">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white" id="staticBackdropLabel" style="font-size: 20px;font-weight: bold;">Search Here</h5>
                <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="@Url.Action("GetVehicleValue", "VehicleStandardValue")">
                    <div class="row mt-1 border border-dark">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group mt-2">
                                <label class="control-label"> Manufacturer: </label>
                                <select class="form-control" name="manufacturer" onmousedown="if(this.options.length>4){this.size=4;}" onchange='this.size=0;' onblur="this.size=0;" required>
                                    <option value="">?</option>
                                    <option value="MISUBISHI">MISUBISHI</option>
                                    <option value="ZAR THA PYIN L/T(1)TON">ZAR THA PYIN L/T(1)TON</option>
                                    <option value="CIMC">CIMC</option>
                                    <option value="FORLAND">FORLAND</option>
                                    <option value="NISSAN DIESEL">NISSAN DIESEL</option>
                                    <option value="ISUZU">ISUZU</option>
                                    <option value="TOYOTA">TOYOTA</option>
                                    <option value="Honda">Honda</option>
                                    <option value="NISSAN">NISSAN</option>
                                </select>
                            </div>
                            <div class="form-group mt-2">
                                <label class="control-label"> BuildType: </label>
                                <select class="form-control" name="buildType" onmousedown="if(this.options.length>4){this.size=4;}" onchange='this.size=0;' onblur="this.size=0;" required>
                                    <option value="">?</option>
                                    <option value="STATION WAGON (4x4)(R)">STATION WAGON (4x4)(R)</option>
                                    <option value="PICKUP (4x2)(R)">PICKUP (4×2)(R)</option>
                                    <option value="DUMP TRUCK (4x2)(L)">DUMP TRUCK (4×2)(L)</option>
                                    <option value="TRANSPORTER (6x4)(R)">TRANSPORTER (6×4)(R)</option>
                                    <option value="EJW41 Bus (4x2)(R)">EJW41 Bus (4×2)(R)</option>
                                    <option value="STATION WAGON (4x4)(L)">STATION WAGON (4×4)(L)</option>
                                    <option value="Sedan">Sedan</option>
                                    <option value="SPORTS">SPORTS</option>
                                    <option value="Sport">Sport</option>
                                </select>
                            </div>
                            <div class="form-group mt-2">
                                <label class="control-label"> fuelType: </label>
                                <select class="form-control" name="fuelType" required>
                                    <option value="">?</option>
                                    <option value="DIESEL">DIESEL</option>
                                    <option value="PETROL">PETROL</option>
                                    <option value="92">92</option>
                                    <option value="95">95</option>
                                    <option value="Octane">Octane</option>
                                    <option value="12/">-</option>

                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group mt-2">
                                <label class="control-label"> VehicleBrand: </label>
                                <select class="form-control" name="vehicleBrand" onmousedown="if(this.options.length>4){this.size=4;}" onchange='this.size=0;' onblur="this.size=0;" required>
                                    <option value="">?</option>
                                    <option value="PAJERO">PAJERO</option>
                                    <option value="Tank Trailer">Tank Trailer</option>
                                    <option value="CW66PE">CW66PE</option>
                                    <option value="journey">journey</option>
                                    <option value="OROLLA CROSS ZSG10">OROLLA CROSS ZSG10</option>
                                    <option value="ACCORD">ACCORD</option>
                                    <option value="350Z">350Z</option>
                                    <option value="Fielder">Fielder</option>
                                </select>
                            </div>
                            <div class="form-group mt-2">
                                <label class="control-label"> ModelYear: </label>
                                <select name="modelYear" class="form-control" onmousedown="if(this.options.length>10){this.size=10;}" onchange='this.size=0;' onblur="this.size=0;" required>
                                    <option value="">Select Year</option>
                                    @for (int year = 1980; year <= 2024; year++)
                                    {
                                        <option value="@year">@year</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group mt-2">
                                <label class="control-label"> EnginePower: </label>
                                <input class="form-control" name="enginePower" placeholder="Engine Power" required />
                            </div>
                        </div>
                        <div class="d-flex justify-content-center align-item-center mt-3 mb-2">
                            <input type="submit" value="Search" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Search model -->
<!-- SearchModelType modelbox -->
<div class="modal fade" id="searchModelType" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content rounded">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white" id="staticBackdropLabel" style="font-size: 20px;font-weight: bold;">Search Here</h5>
                <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="get" action="@Url.Action("GetVehicleValueByModelAndYear", "VehicleStandardValue")">
                    <div class="row" style="background-color: #ececec;">
                        <div class="col-lg-12 col-md-12 col-sm-12  mt-3 mb-3">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-6">
                                    <label class="control-label"> Car Manufacturer </label>
                                </div>
                                <div class="col-lg-8 col-6">
                                    <select id="madeModel" name="MadeModel" class="selectpicker" data-live-search="true">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 mt-3 mb-3">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-6">
                                    <label class="control-label"> Model Year</label>
                                </div>
                                <div class="col-lg-8 col-6">
                                    <select id="modelYear" name="makeModelYear" class="form-control" onmousedown="if(this.options.length>10){this.size=10;}" onchange='this.size=0;' onblur="this.size=0;" required>
                                        <option value="">Select Year</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-lg-12 col-md-12 col-sm-12 mt-3 mb-3">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-6">
                                    <label class="control-label"> Brand Name</label>
                                </div>
                                <div class="col-lg-8 col-6">
                                    <select id="carBrand" name="brandName" class="form-control" onmousedown="if(this.options.length>10){this.size=10;}" onchange='this.size=0;' onblur="this.size=0;" required>
                                        <option value="">Select Brand</option>
                                    </select>
                                </div>
                            </div>
                        </div>*@
                    </<div>
                            <div class="row mt-1 mb-3">
                        <div class="d-flex align-item-center justify-content-center">
                            <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /SearchModelType modelbox -->