@model List<VAVS_Client.Models.Payment>

@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Payments";
}
@if (TempData.ContainsKey("Message") && TempData.ContainsKey("CssColor"))
{
    <div class="alert @TempData["CssColor"] alert-msg"> @TempData["Message"] </div>
}
<div class="d-flex justify-content-center align-item-center mb-2">
    <label class="text-primary h4" style="font-size: clamp(14px, 4vw, 20px);"> ငွေပေးချေရန်ကျန်ရှိနေသောကားစာရင်း</label>
</div>
@if (Model != null && Model.Any())
{
    @foreach (var item in Model)
    {
        <div class="row mt-1 border border-dark rounded shadow-lg p-2 mb-2">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row p-2">
                    <label class="fw-bold col-lg-6 col-md-6 col-sm-4 control-label">ယာဥ်နံပါတ်</label>
                    <div class="col-lg-6 col-md-6 col-sm-8">
                        @Html.DisplayFor(modelItem => item.TaxValidation.VehicleNumber)
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row p-2">
                    <label class="fw-bold col-lg-6 col-md-6 col-sm-4 control-label">ယာဥ်အချက်အလက်</label>
                    <div class="col-lg-6 col-md-6 col-sm-8">
                        @Html.DisplayFor(modelItem => item.TaxValidation.VehicleBrand)
                        |
                        @Html.DisplayFor(modelItem => item.TaxValidation.BuildType)
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row p-2">
                    <label class="fw-bold col-lg-6 col-md-6 col-sm-4 control-label">ကျသင့်အခွန်</label>
                    <div class="col-lg-6 col-md-6 col-sm-8">
                        @Html.DisplayFor(modelItem => item.TaxValidation.TaxAmount)
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row p-2">
                    <label class="fw-bold col-lg-6 col-md-6 col-sm-4 control-label">Transaction Number</label>
                    <div class="col-lg-6 col-md-6 col-sm-8">
                        @Html.DisplayFor(modelItem => item.TransactionNumber)
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center mt-2 mb-1">
                <a class="btn btn-primary rounded-pill" asp-controller="Payment" asp-action="Payment" asp-route-paymentPkid="@item.PaymentPkid">Continue Payment</a>
            </div>
        </div>
    }
}
