@model VAVS_Client.Models.VehicleStandardValue

@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "TaxCalculation";
}
<div class="container">
    <nav aria-label="Page navigation">
        <ul class="pagination d-flex justify-content-evenly">
            <li class="page-item active" aria-current="page">
                <span class="page-link rounded-pill">1</span>
            </li>
            <li class="page-item">
                <span class="page-link rounded-pill">2</span>
            </li>
            <li class="page-item">
                <span class="page-link rounded-pill">3</span>
            </li>
            <li class="page-item">
                <span class="page-link rounded-pill">4</span>
            </li>
        </ul>
    </nav>
</div>
<div>
    <div class="d-flex justify-content-center align-item-center">
        <p class="mb-3 fw-bold" style="font-size: clamp(12px, 2vw, 18px);">Tax Validation Form</p>
    </div>
</div>
<form method="post" action="@Url.Action("ShowCalculatedTaxForm", "TaxCalculation")" enctype="multipart/form-data">
    <div class="d-flex justify-content-center">
        <div class="row mt-1 col-md-8" style="border-radius: 20px;">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mt-2">

                    <label class="control-label fw-bold opacity-75" data-translate="CalculateTax_PlateNo"> Plate No </label>

                    @if (string.IsNullOrEmpty(Model.VehicleNumber))
                    {
                        <input class="form-control mt-2" asp-for="VehicleNumber" value="@Model.VehicleNumber" placeholder="**/****" pattern="[A-Za-z0-9]{1,2}/\d{4}"
                               title="Eg.1A/1234 or AA/1234" style="border-radius:8px;" required />

                    }
                    else
                    {
                        <input class="form-control mt-2" asp-for="VehicleNumber" value="@Model.VehicleNumber" style="border-radius:8px;" readonly />

                    }
                    <span class="text-danger"></span>
                </div>

                <div class="form-group mt-2">

                    <label class="control-label fw-bold opacity-75" data-translate="CalculateTax_CarManufacturer"> Car Manufacturer </label>

                    <input class="form-control mt-2" asp-for="Manufacturer" value="@Model.Manufacturer" style="border-radius:8px;" readonly />

                </div>

                @if (!string.IsNullOrEmpty(Model.Grade))
                {
                    <div class="form-group mt-2">

                        <label class="control-label fw-bold opacity-75" data-translate="CalculateTax_Grade"> Grade: </label>

                        <input class="form-control mt-2" asp-for="Grade" value="@Model.Grade" style="border-radius:8px;" readonly />

                    </div>
                }

                <div class="form-group mt-2">

                    <label class="control-label fw-bold opacity-75" data-translate="CalculateTax_EnginePower"> Engine Power: </label>

                    <input class="form-control mt-2" asp-for="EnginePower" value="@Model.EnginePower" style="border-radius:8px;" readonly />

                </div>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                @if (!string.IsNullOrEmpty(Model.ChessisNumber))
                {
                    <div class="form-group mt-2">

                        <label class="control-label fw-bold opacity-75"> Chessis Number </label>

                        <input class="form-control mt-2" asp-for="ChessisNumber" value="@Model.ChessisNumber" placeholder="****-*******" style="border-radius:8px;" />

                    </div>
                }
                else
                {
                    <div class="form-group mt-2">

                        <label class="control-label fw-bold opacity-75"> Chessis Number </label>

                        <input class="form-control mt-2" asp-for="ChessisNumber" value="@Model.ChessisNumber" placeholder="****-*******" style="border-radius:8px;" />

                    </div>
                }
                <div class="form-group mt-2">

                    <label class="control-label fw-bold opacity-75" data-translate="CalculateTax_VehicleBrand"> Brand: </label>

                    <input class="form-control mt-2" asp-for="VehicleBrand" value="@Model.VehicleBrand" style="border-radius:8px;" readonly />

                </div>
                <div class="form-group mt-2">

                    <label class="control-label fw-bold opacity-75" data-translate="CalculateTax_Type"> Type: </label>

                    <input class="form-control mt-2" asp-for="BuildType" value="@Model.BuildType" style="border-radius:8px;" readonly />

                </div>


                <div class="form-group mt-2">

                    <label class="control-label fw-bold opacity-75" data-translate="CalculateTax_MakeYear"> Make Year </label>

                    <input class="form-control mt-2" asp-for="ModelYear" value="@Model.ModelYear" style="border-radius:8px;" readonly />

                </div>
            </div>
        </div>
    </div>


    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="form-group p-2" style="background-color: #b7e4ff;">
                    <div class="row">
                        <div class="col-lg-6 col-md-3 col-sm-3 col-12 text-start text-lg-center">
                            <label class="control-label fw-bold opacity-75" data-translate="CalculateTax_AssetValue"> Standard Value </label>
                        </div>
                        <div class="col-lg-6 col-md-9 col-sm-9 col-12 mt-2 mt-md-0">
                            <div class="input-group">
                                @{
                                    decimal standardValue;
                                    string strStandardValue = string.IsNullOrEmpty(Model.StandardValue) ? "0" : Model.StandardValue;
                                    string formattedValue = decimal.TryParse(strStandardValue, out standardValue)
                                    ? standardValue.ToString("N0")
                                    : Model.StandardValue;
                                }
                                <input type="text" id="standardValue" class="form-control text-danger fw-bold" asp-for="StandardValue" value="@formattedValue" style="background-color: #b7e4ff;" readonly>
                                <div class="input-group-append">
                                    <span class="input-group-text" style="background-color: #b7e4ff;">Kyat</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6 col-md-3 col-sm-3 col-12 text-start text-lg-center">
                            <label class="control-label fw-bold opacity-75" data-translate="CalculateTax_ContractValue"> Contract Tax </label>
                        </div>
                        <div class="col-lg-6 col-md-9 col-sm-9 col-12 mt-2 mt-md-0">
                            <input id="price" type="text" class="form-control mb-1" name="ContractPrice" pattern="[0-9]*" title="Please enter digits only" onkeyup="myanmarNumToWord.convertToBurmeseWords(this)" style="border-radius:8px;" required>
                            <span id="currencyToBurmeseWord" style="border-radius: 50px; color: royalblue; display: none; font-weight: bold; background-color: #98ac9b47"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6 col-md-3 col-sm-3 col-12 text-start text-lg-center">
                            <label class="control-label fw-bold opacity-75" data-translate="CalculateTax_IncomeTax"> Income Tax </label>
                        </div>
                        <div class="col-lg-6 col-md-9 col-sm-9 col-12 mt-2 mt-md-0">
                            <div class="input-group mb-3">
                                <input id="totalTax" type="text" class="form-control mb-1" name="totalTaxvalue" style="border-radius:8px;" readonly>
                                <div class="input-group-append">
                                    <button id="calcTaxBtn" class="btn btn-primary btn-md" data-translate="VehicleDetail_CalcTaxBtn" onclick="calcTax(event)"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center align-item-center">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="d-flex align-item-center justify-content-center m-3">
                    <span>အောက်ပါစာရွက်စာတမ်းများကို ပူးတွဲပေးပါရန်</span>
                    </<div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="row">
                            <div class="col">
                                <div class="d-flex align-item-center justify-content-center">
                                    <label class="control-label fw-bold opacity-75">မှတ်ပုံတင်</label>
                                </div>
                                <div class="d-flex align-item-center justify-content-center">
                                    <label class="file-input mt-2" style="width:200px; height:100px">
                                        <span class="file-input-label">Choose Image</span>
                                        <input asp-for="NrcImageFile" onchange="hi(event, 'NrcImageFilePreview');" accept=".jpg, .jpeg, .png" required />
                                        <div class="preview" id="NrcImageFilePreview" style="width:200px; height:100px">
                                            <img class="image-fluid" decoding="async" asp-append-version="true" style="height: 130px;" />
                                        </div>
                                    </label>
                                    <span asp-validation-for="NrcImageFile" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-flex align-items-center justify-content-center">
                                    <label class="control-label fw-bold opacity-75">သန်းခေါင်စာရင်း</label>
                                </div>
                                <div class="d-flex align-item-center justify-content-center">
                                    <label class="file-input mt-2" style="width:200px; height:100px">
                                        <span class="file-input-label">Choose Image</span>
                                        <input asp-for="CensusImageFile" onchange="hi(event, 'CensusImageFilePreview');" accept=".jpg, .jpeg, .png" required />
                                        <div class="preview" id="CensusImageFilePreview" style="width:200px; height:100px">
                                            <img class="image-fluid" decoding="async" asp-append-version="true" style="height: 130px;" />
                                        </div>
                                    </label>
                                    <span asp-validation-for="CensusImageFile" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-flex align-item-center justify-content-center">
                                    <label class="control-label fw-bold opacity-75">ယာဥ်မှတ်ပုံတင်စာအုပ်</label>
                                </div>
                                <div class="d-flex align-item-center justify-content-center">
                                    <label class="file-input mt-2" style="width:200px; height:100px">
                                        <span class="file-input-label">Choose Image</span>
                                        <input asp-for="OwnerBookImageFile" onchange="hi(event, 'OwnerBookImageFilePreview');" accept=".jpg, .jpeg, .png" required />
                                        <div class="preview" id="OwnerBookImageFilePreview" style="width:200px; height:100px">
                                            <img class="image-fluid" decoding="async" asp-append-version="true" style="height: 130px;" />
                                        </div>
                                    </label>
                                    <span asp-validation-for="OwnerBookImageFile" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <div class="d-flex align-item-center justify-content-center">
                                    <label class="control-label fw-bold opacity-75">ယာဥ်သက်သေခံလက်မှတ်</label>
                                </div>
                                <div class="d-flex align-item-center justify-content-center">
                                    <label class="file-input mt-2" style="width:200px; height:100px">
                                        <span class="file-input-label">Choose Image</span>
                                        <input asp-for="WheelTagImageFile" onchange="hi(event, 'WheelTagImageFilePreview');" accept=".jpg, .jpeg, .png" required />
                                        <div class="preview" id="WheelTagImageFilePreview" style="width:200px; height:100px">
                                            <img class="image-fluid" decoding="async" asp-append-version="true" style="height: 130px;" />
                                        </div>
                                    </label>
                                    <span asp-validation-for="WheelTagImageFile" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-flex align-item-center justify-content-center">
                                    <label class="control-label fw-bold opacity-75">အရောင်းအဝယ်စာချုပ်</label>
                                </div>
                                <div class="d-flex align-item-center justify-content-center">
                                    <label class="file-input mt-2" style="width:200px; height:100px">
                                        <span class="file-input-label">Choose Image</span>
                                        <input asp-for="TransactionContractImageFile" onchange="hi(event, 'TransactionContractImageFilePreview');" accept=".jpg, .jpeg, .png" required />
                                        <div class="preview" id="TransactionContractImageFilePreview" style="width:200px; height:100px">
                                            <img class="image-fluid" decoding="async" asp-append-version="true" style="height: 130px;" />
                                        </div>
                                    </label>
                                    <span asp-validation-for="TransactionContractImageFile" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-flex align-item-center justify-content-center">
                                    <label class="control-label fw-bold opacity-75">မော်တော်ယာဥ်ပုံ</label>
                                </div>
                                <div class="d-flex align-item-center justify-content-center">
                                    <label class="file-input mt-2" style="width:200px; height:100px">
                                        <span class="file-input-label">Choose Image</span>
                                        <input asp-for="VehicleImageFile" onchange="hi(event, 'VehicleImageFilePreview');" accept=".jpg, .jpeg, .png" required />
                                        <div class="preview" id="VehicleImageFilePreview" style="width:200px; height:100px">
                                            <img class="image-fluid" decoding="async" asp-append-version="true" style="height: 130px;" />
                                        </div>
                                    </label>
                                    <span asp-validation-for="VehicleImageFile" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center align-item-center mt-3 mb-2">
                        <input type="submit" value="Save & Continue" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
